.git
.gitignore
.github
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
bootstrap/cache/*.php
docker/*.log
npm-debug.log
yarn-error.log
coverage
tests
.env
.env.*
.idea
.vscode
.DS_Store
